html{
    scroll-behavior: smooth;
}


body{
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}



.navbar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 70px;
    z-index: 1;
    background-color: gainsboro;
    }

.main_nav   {
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 5%;
}

.logo  {
    flex: 1 1 auto;
    margin-left: 10%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 35px;
}

a{
    margin: 15px;
    text-transform: uppercase;
    text-decoration: none;
}

#main_nav a:hover{
    border-bottom: 2px solid white;
}

a:visited{
    color:black;}

.banner_section    {
    position: relative;
    height: 100vh;
    background-image: url('Images/laptopbg.jpg');
    background-size: cover;
}

.page_section1, .page_section2    {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    min-height: 700px;
}

.text_area{
    width: 65%;
    height: 80%;
}

.page_section1 h1, .page_section2 h1{
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 1px;
}


p{
    font-size: 24px;
    line-height: 50px;
}

.page_section2 {
    background-color: gainsboro;
}


  @media (max-width: 550px)    {
      #main_nav a {
        font-size: 12px;
        margin: 10px;
        justify-content: space-around;
      }

      .navbar{
          height: 40px;
          padding: 10px;
          width: 100%;
          align-items: center;
      }

      html {
          scroll-behavior: smooth;
      }
  }
    

    

   







