*   {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

a{text-decoration: none;}


#navbar {
    height: 100px;
    position: fixed;
    display: flex;
    width: 100%;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 1;
}

.page_nav   {
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    padding: 20px;
    font-size: 32px;
    color: gainsboro;
    border-left: 1px solid gainsboro;
}

#logo   {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    padding: 20px;
    font-size: 32px;
    letter-spacing: 2px;
    color: gainsboro;
    
}

.page_nav:hover{
    border-bottom: 2px inset gainsboro;
    border-left: 2px inset gainsboro;
    color: gainsboro;
}


#page_nav_list  {
    margin-left: auto;
    margin-top: auto;
    margin-bottom:auto;
}

.page_section   {
    max-width: 100%;
    padding-top: 100px;
    
}

.section_title  {
    font-size: 32px;
    letter-spacing: 2px;
    font-family: monospace,sans-serif;
}

#welcome-section    {
    height: 100vh;
    width: 100%;
    text-align: center;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: url(images/laptopbg.jpg);
    background-size: cover;
    color: gainsboro;
}

#projects   {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: gainsboro;
    color: black;
}

#projects-grid  {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    grid-gap: 15px 15px;
    padding: 25px;
}

.project-tile   {
    width: 500px;
    display: grid;
    background-color: black;
    color: gainsboro;
    box-shadow: 2px 2px black;
}

.project-thumbnail  {
    width: 100%;
    height: auto;
}

.project_title  {
    width: 100%;
    max-height: 35px;
    font-size: 30px;
    padding: auto;
}

.project-tile:hover{
    border: 3px inset black;
    box-shadow: 0px 0px;
}


#profile-link   {
    font-size: 24px;
    border: 1px solid black;
    width: 250px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1.25rem;
    padding: 1rem 1rem;
    background-color: black;
    color:gainsboro;
}

.page_section{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    min-height: 700px;
}


.text_area  {
    width: 65%;
}